:root{
    --border-color-1:rgb(230, 230, 230);
    --border-form: solid 1px;
    --button-color: #596D48;
    --box-shadow: 3px 4px 5px rgb(175, 175, 175);
    --bg-color-main: rgb(247, 241, 241);
    --bg-color-second: white;
    --ff-main: sans-serif;
    --fs-main: .857rem;
    --fc-main: black;
    --fc-second:rgb(192, 197, 192);
}
@font-face {
    font-family:'Norse';
    src: url(resorces/fonts/fontie-package/Norse-Bold.eot);
	src: url('Norse-Bold.eot?#iefix') format('embedded-opentype'),
		url(./resorces/fonts/fontie-package/Norse-Bold.woff2) format('woff2'),
		url(resorces/fonts/fontie-package/Norse-Bold.woff) format('woff'),
		url(resorces/fonts/fontie-package/Norse-Bold.svg) format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}


body{
    display:flex;
    align-items: center;
    margin: 0;
    background-color: var(--bg-color-main);
    font-family: sans-serif;
    font-weight: bold;
    
}
input{
    height: 25px;
    width: 25vh;
    margin-bottom: 30px;
    border-radius: 5px;
    border: solid 1px rgb(5, 5, 5);
    
}
.colum{
    display: flex;
    flex-direction: column;
    font-size: var(--fs-main);
    
}

#sign-up{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-content: center;
}


.right{
    
    width: 100%;
}

.left{
    position: relative;
}

.form{
   
    background-color: var(--bg-color-second);
    padding-top: 10px;
    padding-left: 50px;
    border-top: var(--border-form), var(--border-color-1);
    border-bottom: var(--border-form), var(--border-color-1);
    box-shadow: 1px 7px 8px rgba(201, 200, 200, 0.5);
    
}

button{
   
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--button-color) ;
    margin-left: 50px;
    margin-top: 40px;
    width: 15rem;
    height: 3rem;
    border-radius: 5px;
    border: var(--button-color);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.signIn-link{
    margin-top: 40px;
    margin-left: 50px;
}

.img-link{
    position: absolute;
    bottom: 0;
    left: 20vh;
    color: var(--fc-second);
    font-family: 'Courier New', Courier, monospace;
}
/* Hyperlink styling */
a[href^='#']{
    text-decoration: none;
    color: var(--button-color);
}

a[href^='http']{
    color:var(--fc-second)
}






